@import "src/styles/breakpoints.scss";
@import "src/styles/colors.scss";
@import "src/styles/typography.scss";

.stake {
  @media #{$mq-xl} {
    max-width: 90%;
    margin: 0 auto;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
  @media #{$mq-md} {
    margin: 0 $margin-sm;
    min-height: 40vh;
  }
  display: flex;
  margin: 1rem $margin-sm;
  flex-direction: column;
  justify-content: center;
  
  
  h1 {
    @media #{$mq-lg} {
      max-width: 80%;
    }
    @extend %h1;
    color: $gray-100;
  }
  p {
    @extend %body;
    color: $gray-300;
    max-width: 28rem;
  }
  &--text-wrapper {
    @media #{$mq-md} {
      grid-template-columns: repeat(2, 1fr);
      column-gap: .5rem;
    }
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 1rem;
    padding: 3rem 2rem;

    .column {
      display: flex;
      flex-direction: column;
      img {
        width: 80%;
      }
    }
  }
  
}